body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #aaaaa7;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .homecontainer {
    max-width: 1200px;
    height: 80vh;/* Full viewport height */
    padding:25px;
    margin-top:1vh;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;  /* Enable vertical scrolling */
    scroll-snap-type: y mandatory
}

@media (max-width: 768px) {
    .homecontainer{
        height: 75vh;
    }
}

.homepagecont1 {
    position: relative;  /* Allows absolute positioning inside */
    height: 100%;  /* Full height for each section */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(15, 6, 71, 0.4);
    border-radius: 15px;
    margin-bottom: 15px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}


/* Optional hover effect */

.homepagecont-title {
    font-size: clamp(1.5rem, 3vw, 2.5rem);/* Scales between 1rem - 2rem */
    font-weight: 600;
    color: #ffffff;
    margin: 5px 0 0 0;
}

.homepagecont-body {
    margin: 20px 0 0 0;
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 2rem);
}

  

.gobackwrap {
    margin-top: auto;
    padding-top: 10px;
    position:relative;
    display: flex;       /* Enables Flexbox */
    justify-content:space-between;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    width: 100%;  /* Ensures it takes full width */
    
}

.gobackwrap1 {
    margin-top: auto;
    padding-top: 10px;
    position:relative;
    display: flex;       /* Enables Flexbox */
    justify-content:space-around;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    width: 100%;  /* Ensures it takes full width */
    
}
  
  




 /* From Uiverse.io by vinodjangid07 */ 
.scrollbutton {
    max-width: 70px;
    max-height: 70px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIconreverse{
    transform: rotate(180deg);
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIconreverse path {
    fill: white;
  }
  
  .scrollbutton:hover {
    max-width: 150px;
    min-width:100px;
    border-radius: 15px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .scrollbutton:hover .svgIconreverse {
    /* width: 20px; */
    transition-duration: 0.5s;
    transform: rotate(180deg) translateY(-100px);
  }
  
  .scrollbutton::before {
    position: absolute;
    bottom: -20px;
    content: "Scroll";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .scrollbutton:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  

 /* From Uiverse.io by vinodjangid07 */ 
.gobackbutton {
    max-width: 70px;
    max-height: 70px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .gobackbutton:hover {
    min-width:100px;
    max-width: 150px;
    border-radius: 15px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .gobackbutton:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.5s;
    transform: translateY(-100px);
  }
  
  .gobackbutton::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .gobackbutton:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  
  .nav-button {
    border: none;
    display: flex;
    width: 30%;
    height: 10vh;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  .nav-button:hover {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 4%);
      cursor: pointer;
  }
  
  .nav-button:active {
    color: hsl(0, 0%, 3%);
    transform: translateY(10px);
    transition: 100ms;
    cursor: pointer;
}
  

  
.filescontainer {
    max-width: 1200px;
    height: 80vh;/* Full viewport height */
    padding:25px;
    margin-top:1vh;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;  /* Enable vertical scrolling */
    scroll-snap-type: y mandatory
}

@media (max-width: 768px) {
    .filescontainer{
        height: 75vh;
    }
}



.scanpagecontainer {
    position: relative;  /* Allows absolute positioning inside */
    height: 100%;  /* Full height for each section */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(15, 6, 71, 0.4);
    border-radius: 15px;
    margin-bottom: 15px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
  
  

  
.scan-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    transition: opacity 0.5s ease-in-out;
}
.scan-list.fade {
    opacity: 0; /* Fades out before switching scans */
}

@media (max-width: 768px) {
    .scan-list {
        grid-template-columns: repeat(auto-fill, minmax( 350px, 1fr));
    }
}

/*phones*/
@media (max-width: 480px) {
    .scan-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
  
  

.scanname {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    color: #555;
    width:auto;
    outline: none;
  }
  
.scanname:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  
.Make-bold {
    font-weight: bold;
}


.scans-title {
    margin: 5px 0 0 0;
    font-size: clamp(1.5rem, 3vw, 2.5rem);/* Scales between 1rem - 2rem */
    font-weight: 600;
    color: #ffffff;
    
    
}

.modal-title {
    margin-top:3vh;
    margin-bottom:3vh;
    font-size: clamp(1.5rem, 3vw, 2.5rem);/* Scales between 1rem - 2rem */
    font-weight: 600;
    color: #000000;
}

.nosearch{
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 2rem);
}


.scanheaderwrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1vw;
}

.scansnameinput {
    padding: 5px;
    border: 2px solid #ccc;
    width:30vw;
    min-height: 2vw;
    border-radius: 15px;
    font-size: 16px;
    color: #555;
    outline: none;
  }
.scan{
    background-color: #deded8;
    border-radius: 15px;
    padding: 1rem;
    font-size: larger;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative; 
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}
.scan:hover,
.scan:active {
    pointer-events: auto;
}



.scan-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    position: sticky; /* Sticks to the bottom of the scan container */
    bottom: 0; /* Sticks it at the bottom inside .scan */
}
/*add scan stuff*/

.addscanpagecontainer {
    position: relative; 
    height: 100%;  /* Full height for each section */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(15, 6, 71, 0.4);
    border-radius: 15px;
    margin-bottom: 15px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.Uploadscancontainer {
    margin: 20px 0 0 0;
    flex-direction: column;
    display: flex;
    gap: 3vw;
}
  

.addscannameinput {
    padding: 5px;
    border: 2px solid #ccc;
    min-width:20%;
    min-height: 30px;
    border-radius: 15px;
    font-size: 16px;
    color: #555;
    outline: none;
  }


.hiddenfileinput {
    display: none;
}


  
.fileinput {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  height:7vh;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 15px;
  user-select: none;
  gap: 0.75rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}
.fileinput:hover {
    background-color: rgb(181, 160, 255);
    color: hsl(0, 0%, 4%);
    cursor: pointer;
}
  
.fileinput:active {
    background-color: rgb(181, 160, 255);
    color: hsl(0, 0%, 3%);
    transform: translateY(10px);
    transition: 100ms;
    cursor: pointer;
}
  
.addscan-button {
    border: none;
    display: flex;
    width: 30%;
    height: 6vh;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  .addscan-button:hover {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 4%);
      cursor: pointer;
  }
  
  .addscan-button:active {
    color: hsl(0, 0%, 3%);
    transform: translateY(10px);
    transition: 100ms;
    cursor: pointer;
    }
  
 
  .addscanwrap {
    margin-top: auto;
    padding-top:1vw;
    padding-bottom:1vw;
    position:relative;
    display: flex;       /* Enables Flexbox */
    justify-content:space-around;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    width: 100%;  /* Ensures it takes full width */
    
}
  
  
  

  
  
  .save{
      background-color: #ffffff;
      border: none;
      border-radius: 15px;
      padding: 5px 10px 5px 10px;
      
  }
  
  .save:hover {
    background-color: #ededed;
    cursor: pointer;
    
  }
  
  .action_btn {
      padding-top: 15px;
      padding-bottom:15px;
      flex-direction: column;
      display: flex;
      gap: 15px;
  }
  
  .study-button {
    width: 48%;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  .study-button:hover:hover {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 4%);
      cursor: pointer;
  }
    
  .study-button:active {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 3%);
      transform: translateY(10px);
      transition: 100ms;
      cursor: pointer;
  }
    
  .del-button {
    width: 48%;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #eb4408;
    color: #ffffff;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  .del-button:hover:hover {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 4%);
      cursor: pointer;
  }
    
  .del-button:active {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 3%);
      transform: translateY(10px);
      transition: 100ms;
      cursor: pointer;
  }
  
  
  .parsedTextmodal-container {
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease;
      z-index: 1000;
    }
    
  .parsedTextmodal-container.show {
      pointer-events: auto;
      opacity: 1;
  }
    
  .parsedText-modal {
      overscroll-behavior: contain;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      -ms-overflow-style: none;
      background-color: #ffffff;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      padding:20px;
      width: 100%;
      height: 100%; 
      text-align: center;
      overflow-y: auto;
      flex-direction: column;
  
    }
    
    .parsedText-heading {
      color: rgb(34, 34, 34);
      font-weight: 800;
    }
    .parsedText-para {
      font-size:x-large;
      font-weight: 500;
      color: rgb(51, 51, 51);
    }
    
    
  .deleteWarn-container {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      opacity: 0;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1000;
    }
    
  .deleteWarn-container.show {
      pointer-events: auto;
      opacity: 1;
    }
    
  
    .deleteWarn-modal {
      background-color: rgb(255, 250, 250);
      width: 50%;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 30px 50px;
      max-width: 100%;
      text-align: center;
  
    }
    .deleteWarn-heading {
      color: rgb(8, 7, 7);
      font-weight: 800;
    }
    .deleteWarnbutton-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    
    
  .deleteWarn-buttoncancel {
    border: none;
    display: flex;
    width: 48%;
    height: 7vh;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
    }
    .deleteWarn-buttoncancel:hover:hover {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 4%);
        cursor: pointer;
    }
      
    .deleteWarn-buttoncancel:active {
        color: hsl(0, 0%, 3%);
        transform: translateY(10px);
        transition: 100ms;
        cursor: pointer;
    }
    
    .deleteWarn-button {
        border: none;
        display: flex;
        width: 48%;
        height: 7vh;
        padding: 0.75rem 1.5rem;
        background-color: #eb4408;
        color: #ffffff;
        box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
        justify-content: center;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        vertical-align: middle;
        align-items: center;
        border-radius: 15px;
        user-select: none;
        gap: 0.75rem;
        box-shadow:
          0 4px 6px -1px #488aec31,
          0 2px 4px -1px #488aec17;
        transition: all 0.6s ease;
    }
    .deleteWarn-button:hover:hover {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 4%);
        cursor: pointer;
    }
      
    .deleteWarn-button:active {
        color: hsl(0, 0%, 3%);
        transform: translateY(10px);
        transition: 100ms;
        cursor: pointer;
    }
    
      
  
      
    
    
    .navcontainer {
      background-color: #aaaaa7;
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      padding:15px;
    }
    .navbar {
      padding: 0.5rem;
      background-color:  #67d7cc;
      border-radius: 15px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: 0 10px 25px 0 rgba(#000, 0.075);
    }
    
    .studynavbar {
      padding: 0.5rem;
      background-color: #000000;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 15px;
      box-shadow: 0 10px 25px 0 rgba(#000, 0.075);
      
    }
    
    .studylink {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 50px;
        border-radius: 15px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transform-origin: center left;
        transition: width 0.2s ease-in;
        text-decoration: none;
        color:#000000;
        &:before {
          position: absolute;
          z-index: -1;
          content: "";
          display: block;
          border-radius: 15px;
          width: 100%;
          height: 100%;
          top: 0;
          transform: translateX(100%);
          transition: transform 0.2s ease-in;
          transform-origin: center right;
          background-color:  rgb(181, 160, 255);;
        }
      
        &:hover,
        &:focus {
          outline: 0;
          width: 130px;
          &:before,
          .studylink-title {
            transform: translateX(0);
            opacity: 1;
          }
        }
      }
      
      .studylink-icon {
        color: #ffffff;
        width: 28px;
        height: 28px;
        display: block;
        flex-shrink: 0;
        left: 18px;
        position: absolute;
        svg {
          width: 28px;
          height: 28px;
        }
      }
      
      .studylink-title {
        color: #ffffff;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        transform-origin: center right;
        display: block;
        text-align: center;
        text-indent: 28px;
        width: 100%;
      }
      
    
    .link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 50px;
      border-radius: 15px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transform-origin: center left;
      transition: width 0.2s ease-in;
      text-decoration: none;
      color:#000000;
      &:before {
        position: absolute;
        z-index: -1;
        content: "";
        display: block;
        border-radius: 15px;
        width: 100%;
        height: 100%;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.2s ease-in;
        transform-origin: center right;
        background-color:  #deded8;
      }
    
      &:hover,
      &:focus {
        outline: 0;
        width: 130px;
    
        &:before,
        .link-title {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
    
    .link-icon {
      width: 28px;
      height: 28px;
      display: block;
      flex-shrink: 0;
      left: 18px;
      position: absolute;
      svg {
        width: 28px;
        height: 28px;
      }
    }
    
    .link-title {
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
      transform-origin: center right;
      display: block;
      text-align: center;
      text-indent: 28px;
      width: 100%;
    }
    
      
.studycontainer {
    max-width: 1200px;
    height: 80vh;/* Full viewport height */
    padding:25px;
    margin-top:1vh;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;  /* Enable vertical scrolling */
    scroll-snap-type: y mandatory
}

@media (max-width: 768px) {
    .studycontainer{
        height: 75vh;
    }
}


.studypagecont {
    position: relative;  /* Allows absolute positioning inside */
    height: 100%;  /* Full height for each section */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(15, 6, 71, 0.4);
    border-radius: 15px;
    margin-bottom: 15px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}

.studyEntryTitle{
    font-size: clamp(1.5rem, 3vw, 2.5rem);/* Scales between 1rem - 2rem */
    font-weight: 600;
    color: #000000;
    margin: 5px 0 0 0;
}

.studyEntrybody {
    margin: 20px 0 0 0;
    color: rgb(0, 0, 0);
    font-size: clamp(1rem, 2vw, 2rem);
}

  



.viewpast-button {
    border: none;
    display: flex;
    width:30vh;
    min-height:5vw;
    padding: 0.75rem 1.5rem;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #488aec31,
      0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
  }
  .viewpast-button:hover {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 4%);
      cursor: pointer;
  }
  
  .viewpast-button:active {
    color: hsl(0, 0%, 3%);
    transform: translateY(10px);
    transition: 100ms;
    cursor: pointer;
    }
  

.notesholder {
    margin-bottom: 1vw;
    background-color: #deded8;
    border-radius: 15px;
    padding: 1rem;
    font-size: larger;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative; 
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    
}

.notesholder:hover,
.notesholder:active {
    pointer-events: auto;
}



.fcmodal-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  .fcmodal-container.show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .fcmodal-content {
    overscroll-behavior: contain;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding:20px;
    width: 100%;
    height: 100%; 
    text-align: center;
    overflow-y: auto;
    flex-direction: column;
  }
  .fcmodal-heading {
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  .fcmodal-text {
    font-size: 1vw;
    font-weight: 400;
    color: rgb(51, 51, 51);
  }
  
  .fcmodal-content-footer {
    padding-top: 1rem;
    padding-bottom:1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .parsedTextmodal-footer {
    padding-top: 1rem;
    padding-bottom:1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
  }
  
  .parsedTextcontent {
    margin-bottom: 1vw;
    background-color: #deded8;
    border-radius: 15px;
    padding: 1rem;
    font-size: larger;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative; 
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
  
  
  
  
  
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
}
  
  /* Adjust for smaller screens, media is used for cases were screens are smaller */
  /*tablets*/
  @media (max-width: 768px) {
      .card-grid {
          grid-template-columns: repeat(auto-fill, minmax( 350px, 1fr));
      }
  }
  
  /*phones*/
  @media (max-width: 480px) {
      .card-grid {
          grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
      }
  }
  
  .card{ 
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      border-radius: 15px;
      padding: 1rem;
      justify-content:center;
      border: 2px solid black;
      background-color: #deded8;
      transform-style: preserve-3d;
      font-size:larger;
      height: 275px;
      cursor: pointer;
      transition: 300ms;
      transform: perspective(1000px) rotateY(var(--rotate-y, 0));
      
  }
  
  
  .card:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
      background-color: rgb(181, 160, 255);
      color:#fcf8f8
  }
  
  .card.flip{
      --rotate-y: 180deg;
      background-color: #deded8;;
      
  }
  .card.flip:hover{
      --rotate-y: 180deg;
      background-color: rgb(181, 160, 255);
  }
  
  .card .front, .card .back{
      position: absolute;
      padding: 5px;
      backface-visibility: hidden;
      max-height: 100%; 
      
  }
  
  .card .back {
      position:relative;
      overflow: auto;
      font-size:larger;
      transform: rotateY(180deg);
      
  }
  
  
  .questions-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 1rem;
  }
  
  /* Adjust for smaller screens, media is used for cases were screens are smaller */
  /*tablets*/
  @media (max-width: 768px) {
      .questions-grid {
          grid-template-columns: repeat(auto-fill, minmax( 350px, 1fr));
      }
  }
  
  /*phones*/
  @media (max-width: 480px) {
      .questions-grid {
          grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
      }
  }
  
  
  .radio-input input {
      display: none;
    }
    
    .radio-input {
      display: flex;
      flex-direction: column;
      padding: 12px;
      background: #deded8;
      border: 2px solid black;
      color: #000;
      border-radius: 15px;
      border-color: #000;
      height: 275px;
    }
    
    .info {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .question {
      text-align: left;
      color: rgb(4, 4, 4);
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 800;
      padding: 5px;
    }
    
    .steps {
      background-color: #000000;
      padding: 10px;
      color: #fff;
      border-radius: 15px;
      font-size: 15px;
      line-height: 12px;
      font-weight: 600;
    }
    
    .radio-input  label {
      display: flex;
      background-color: #000000;
      padding: 14px;
      margin: 8px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      border-radius: 15px;
      cursor: pointer;
      border: 1px solid rgba(9, 9, 9, 0.164);
      color: #ffffff;
      transition: .3s ease;
      
    }
    
    .radio-input  label:hover {
      background-color:rgb(181, 160, 255);
      color:#000;
      border: 1px solid #090909;
    }
    
    
    .radio-option.highlight {
      background-color: #cce5ff;  
      border-color: #0a0a0a;      
      }
    .radio-input input:checked + label {
      border-color: #050505;
      color:#000;
      background-color: rgb(181, 160, 255);
    }
    
  .MTbuttonwrapper {
      display: flex;
      justify-content:space-around;
      flex-direction: column;
      padding: 12px;
      background: #deded8;
      border: 2px solid rgba(9, 9, 9, 0.164);
      color: #000;
      border-radius: 15px;
      border-color: #000;
      height: 275px;
  }
  .results {
      padding: 5px;
  }
  
  .submit-button {
      padding: 17px 40px;
      border-radius: 15px;
      border: 1px solid rgba(9, 9, 9, 0.164);
      color:#ffffff;
      background-color: #000000;
      box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
      font-size: 25px;
      font-weight: 600;
      transition: all 0.5s ease;
    }
    
  .submit-button:hover {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 0%);
      cursor: pointer;
  }
    
  .submit-button:active {
      background-color: rgb(181, 160, 255);
      color: hsl(0, 0%, 0%);
      transform: translateY(10px);
      transition: 100ms;
      cursor: pointer;
  }
    
  .result {
      margin-top: 10px;
      font-weight: 600;
      transition: display .4s ease;
    }
    
  
    .socialcard {
      margin-top:2vh;
      height: fit-content;
      background-color: #000;
      display: flex;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      padding: 25px;
      gap: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    }
    
    /* for all social containers*/
    .socialContainer {
      width: 50%;
      height: 52px;
      background-color: #deded8;
      display: flex;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition-duration: .3s;
    }
    /* instagram*/
    .containerOne:hover {
      background-color: #d62976;
      transition-duration: .3s;
    }
    /* twitter*/
    .containerTwo:hover {
      background-color: #00acee;
      transition-duration: .3s;
    }
    /* linkdin*/
    .containerThree:hover {
      background-color: #0072b1;
      transition-duration: .3s;
    }
    /* Whatsapp*/
    .containerFour:hover {
      background-color: #128C7E;
      transition-duration: .3s;
    }
    
    .socialContainer:active {
      transform: scale(0.9);
      transition-duration: .3s;
    }
    
    .socialSvg {
      width: 17px;
    }
    
    .socialSvg path {
      fill: rgb(255, 255, 255);
    }
    
    .socialContainer:hover .socialSvg {
      animation: slide-in-top 0.3s both;
    }
    
    @keyframes slide-in-top {
      0% {
        transform: translateY(-50px);
        opacity: 0;
      }
    
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .header-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    .account-wrapper {
        margin-top:auto;
        flex-direction: column;
        display: flex;
        gap: 3vw;
    }
    .account-body {
        margin: 20px 0 0 0;
        color: rgb(255, 255, 255);
        font-size: clamp(1.5rem, 3vw, 2.5rem);
    }
    
    .signupbutton {
      --primary-color: #000000;
      --secondary-color: #ffffff;
      --hover-color: rgb(181, 160, 255);
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      box-sizing: border-box;
      height: 7vh;
      border: 0;
      border-radius: 15px;
      color: var(--secondary-color);
      padding: 1em 1.8em;
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      gap: 0.6em;
      font-weight: bold;
    }
    
    .signupbutton .arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .signupbutton .arrow {
      margin-top: 1px;
      width: var(--arrow-width);
      background: var(--primary-color);
      height: var(--arrow-stroke);
      position: relative;
      transition: 0.2s;
    }
    
    .signupbutton .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--secondary-color);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg);
    }
    
    .signupbutton:hover {
      background-color: var(--hover-color);
      color:#000;
    }
    
    .signupbutton:hover .arrow {
      background: #000;
    }
    
    .signupbutton:hover .arrow:before {
      border-color: #000;
      right: 0;
    }
    
    .loginbutton {
      --primary-color: #000000;
      --secondary-color: #ffffff;
      --hover-color: rgb(181, 160, 255);
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      box-sizing: border-box;
      border: 0;
      height: 7vh;
      border-radius: 15px;
      color: var(--secondary-color);
      padding: 1em 1.8em;
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      gap: 0.6em;
      font-weight: bold;
    }
    
    .loginbutton .arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .loginbutton .arrow {
      margin-top: 1px;
      width: var(--arrow-width);
      background: var(--primary-color);
      height: var(--arrow-stroke);
      position: relative;
      transition: 0.2s;
    }
    
    .loginbutton .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--secondary-color);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg);
    }
    
    .loginbutton:hover {
      background-color: var(--hover-color);
      color:#000;
    }
    
    .loginbutton:hover .arrow {
      background: #000;
    }
    
    .loginbutton:hover .arrow:before {
      border-color: #000;
      right: 0;
    }
    
    
    
    .logoutbutton {
      --primary-color: #000000;
      --secondary-color: #ffffff;
      --hover-color: rgb(181, 160, 255);
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      box-sizing: border-box;
      height: 7vh;
      border: 0;
      border-radius: 15px;
      color: var(--secondary-color);
      padding: 1em 1.8em;
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      gap: 0.6em;
      font-weight: bold;
    }
    
    .logoutbutton .arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .logoutbutton .arrow {
      margin-top: 1px;
      width: var(--arrow-width);
      background: var(--primary-color);
      height: var(--arrow-stroke);
      position: relative;
      transition: 0.2s;
    }
    
    .logoutbutton .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--secondary-color);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg);
    }
    
    .logoutbutton:hover {
      background-color: var(--hover-color);
      color:#000;
    }
    
    .logoutbutton:hover .arrow {
      background: #000;
    }
    
    .logoutbutton:hover .arrow:before {
      border-color: #000;
      right: 0;
    }
    
    /* for log in */
    
    
  .loginmodal-container {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      opacity: 0;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1000;
    }
    
  .loginmodal-container.show {
      pointer-events: auto;
      opacity: 1;
  }
  
  .loginform {
      background-color: rgb(255, 250, 250);
      width: 600px;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 30px;
      max-width: 100%;
      text-align: center;
    }
    
    .loginform-title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      color: #000;
    }
    
    .logininput-container {
      position: relative;
      width: 100%;
    }
    
    .logininput-container input, .form button {
      outline: none;
      border: 1px solid #e5e7eb;
      margin: 8px 0;
    }
    
    .logininput-container input {
      background-color: #fff;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 15px;
      font-size: 16px;
      color: #555;
      width: 85%;
      outline: none;
    }
    
   
  
  .signupform {
      background-color: rgb(255, 250, 250);
      width: 600px;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 30px;
      max-width: 100%;
      text-align: center;
    }
    
    .signupform-title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 600;
      text-align: center;
      color: #000;
    }
    
    .signupinput-container {
      position: relative;
      width: 100%;
    }
    
    .signupinput-container input, .form button {
      outline: none;
      border: 1px solid #e5e7eb;
      margin: 8px 0;
    }
    
    
    .signupinput-container input {
      background-color: #fff;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 15px;
      font-size: 16px;
      color: #555;
      width: 85%;
      outline: none;
      
    }
    
    .error-message {
      color: red;
    }
    
    .authbuttonlogin-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    
    .login-buttonsignin {
      border: none;
      width: 48%;
      display: flex;
      padding: 0.75rem 1.5rem;
      background-color: #000000;
      color: #ffffff;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      vertical-align: middle;
      align-items: center;
      border-radius: 15px;
      user-select: none;
      gap: 0.75rem;
      box-shadow:
        0 4px 6px -1px #488aec31,
        0 2px 4px -1px #488aec17;
      transition: all 0.6s ease;
    }
    .login-buttonsignin:hover {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 4%);
        cursor: pointer;
    }
      
    .login-buttonsignin:active {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 3%);
        transform: translateY(10px);
        transition: 100ms;
        cursor: pointer;
    }
    
    
    .login-buttonclose {
      border: none;
      width: 48%;
      display: flex;
      padding: 0.75rem 1.5rem;
      background-color: #eb4408;
      color: #ffffff;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      vertical-align: middle;
      align-items: center;
      border-radius: 15px;
      user-select: none;
      gap: 0.75rem;
      box-shadow:
        0 4px 6px -1px #488aec31,
        0 2px 4px -1px #488aec17;
      transition: all 0.6s ease;
    }
    .login-buttonclose:hover {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 4%);
        cursor: pointer;
    }
      
    .login-buttonclose:active {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 3%);
        transform: translateY(10px);
        transition: 100ms;
        cursor: pointer;
    }
    
     .authbuttonlogin-wrapper {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    
    
.FCentries-list{
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      transition: opacity 0.5s ease-in-out;
  }
  .FCentries-list.fade {
    opacity: 0; /* Fades out before switching scans */
}

@media (max-width: 768px) {
    .FCentries-list {
        grid-template-columns: repeat(auto-fill, minmax( 350px, 1fr));
    }
}

/*phones*/
@media (max-width: 480px) {
    .FCentries-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
  
  
.FCentry{
    background-color: #deded8;
    border-radius: 15px;
    padding: 1rem;
    font-size: larger;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative; 
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
}
  

  
  
  
  .FCentry-footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    position: sticky; /* Sticks to the bottom of the scan container */
    bottom: 0; /* Sticks it at the bottom inside .scan */
  }
  
   
  .MTentries-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    transition: opacity 0.5s ease-in-out;
  }
  .MTentries-list.fade {
    opacity: 0; /* Fades out before switching scans */
}

@media (max-width: 768px) {
    .MTentries-list {
        grid-template-columns: repeat(auto-fill, minmax( 350px, 1fr));
    }
}

/*phones*/
@media (max-width: 480px) {
    .MTentries-list {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
  
  
.MTentry{
    background-color: #deded8;
    border-radius: 15px;
    padding: 1rem;
    font-size: larger;
    height: 60vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative; 
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
  }
.Mtentry:hover,
.Mtentry:active {
    pointer-events: auto;
}

  
.MTentry-footer{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    position: sticky; /* Sticks to the bottom of the scan container */
    bottom: 0; /* Sticks it at the bottom inside .scan */
}

.Accountcontainer {
    max-width: 1200px;
    height: 80vh;/* Full viewport height */
    padding:25px;
    margin-top:1vh;
    margin-right: auto;
    margin-left: auto;
    overflow-y: auto;  /* Enable vertical scrolling */
    scroll-snap-type: y mandatory
}

@media (max-width: 768px) {
    .Accountcontainer{
        height: 75vh;
    }
}

.Accountpagecont {
    position: relative;  /* Allows absolute positioning inside */
    height: 100%;  /* Full height for each section */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(15, 6, 71, 0.4);
    border-radius: 15px;
    margin-bottom: 15px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}
  
  
   
  .EnterName-container {
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      opacity: 0;
      pointer-events: none;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      z-index: 1000;
    }
    
  .EnterName-container.show {
      pointer-events: auto;
      opacity: 1;
    }
    
  
    .EnterName-modal {
      background-color: rgb(255, 250, 250);
      width:50%;
      border-radius: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 30px;
      text-align: center;
  
    }
    .EnterName-heading {
      color: rgb(4, 3, 3);
      font-weight: 800;
    }
    .nameinput {
      padding: 5px;
      border: 2px solid #ccc;
      height: 40px;
      border-radius: 15px;
      font-size: 16px;
      color: #555;
      outline: none;
    }
    
    .EnterNamebutton-wrapper {
      flex-direction: column;
      display: flex;
      gap: 15px;
    }
    .EnterName-button {
      justify-content: center;
      height: 50px;
      border: none;
      display: flex;
      padding: 0.75rem 1.5rem;
      background-color: #000000;
      color: #ffffff;
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      vertical-align: middle;
      align-items: center;
      border-radius: 15px;
      user-select: none;
      gap: 0.75rem;
      box-shadow:
        0 4px 6px -1px #488aec31,
        0 2px 4px -1px #488aec17;
      transition: all 0.6s ease;
    }
    .EnterName-button:hover {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 4%);
        cursor: pointer;
    }
      
    .EnterName-button:active {
        background-color: rgb(181, 160, 255);
        color: hsl(0, 0%, 3%);
        transform: translateY(10px);
        transition: 100ms;
        cursor: pointer;
    }